{% extends "GregBlogBundle::layout.html.twig" %}

{% block title %}
Lecture d'un article - {{ parent() }}
{% endblock %}

{% block blog_body %}

{% include "GregBlogBundle:Blog:article.html.twig" %}

<div>
    <ul>
      {% for commentaire in article.commentaires %}
            <li>
              <strong>{{ commentaire.auteur }}</strong> :
                le {{ commentaire.date|date('d/m/Y') }}
              <p>
                  {{ commentaire.contenu }}
              </p>
            </li>
      {% endfor %}
    </ul>
</div>
  <p>
    <a href="{{ path('blog_accueil') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('blog_modifier', {'id': article.id}) }}" class="btn">
      <i class="icon-edit"></i>
      Modifier l'article
    </a>
    <a href="{{ path('blog_supprimer', {'id': article.id}) }}" class="btn">
      <i class="icon-trash"></i>
      Supprimer l'article
    </a>
  </p>
{% endblock %}


